		<ul id="ChatAppTab" class="nav nav-tabs bordered">
			<li class="active">
				<a href="#visitor" data-toggle="tab">Lobby <span class="badge bg-color-blue txt-color-white">{{lobbyUsers.length}}</span></a>
			</li>
			<li class="">
				<a href="#conversations" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i> Conversation<span class="badge bg-color-blue txt-color-white">{{liveConversations.length}}</span></a>
			</li>
			<!--li class="dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#s3" data-toggle="tab">@fat</a>
					</li>
					<li>
						<a href="#s4" data-toggle="tab">@mdo</a>
					</li>
				</ul>
			</li>
			<li class="pull-right">
				<a href="javascript:void(0);">
				<div class="sparkline txt-color-pinkDark text-align-right" data-sparkline-height="18px" data-sparkline-width="90px" data-sparkline-barwidth="7"><canvas width="52" height="18" style="display: inline-block; width: 52px; height: 18px; vertical-align: top;"></canvas></div> </a>
			</li-->
		</ul>
		<div id="ChatAppContent" class="tab-content padding-10" >
			<div class="tab-pane fade active in" id="visitor" style="height: 100%;"  >
				<div class="row chat-body" style="height: 100%;">
					<ul>
					<li class="message col-sm-3 col-md-3 col-lg-3" ng-repeat="lUser in lobbyUsers">
						<img src="/img/avatars/sunny.png" class="online" alt="">
						<span class="badge bg-color-blue txt-color-white" style="position: absolute">{{lUser.conversations.length}}</span>						
						<div class="message-text">
							<time>
								{{lUser.date}}
							</time> <a href="javascript:void(0);" class="username">{{lUser.name}}</a> {{getRecentText(lUser).text}} <i class="fa fa-smile-o txt-color-orange"></i> 
						</div>
					</li>
					</ul>
				</div>
			</div>
			<div class="tab-pane fade" id="conversations" style="height: 100%;">
				<div class="row" style="height: 100%;">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="height: 100%;">
					
					<div class="user" title="{{c.user.id}}" ng-repeat="c in liveConversations">
						<a data-target="#{{c.user.name}}" data-toggle="tab">
						<img ng-src="c.user.image"><a href="javascript:void(0);">{{c.user.name}}</a>
						<div class="email">
							{{c.user.id}}
						</div>
						</a>
					</div>
					
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 height-target" style="padding:0px">
						<div class="height-full">
							<!--ul id="paneltab0" class="panel-body panel-body-chat" ng-repeat="user in liveConversations">
								<li ng-repeat="c in user.conversations" ng-class="{'from-visitor': c.sender == 'me' , 'from-op': c.sender != 'me'}">
									<div class="chatMsg clearfix ">
										<div class="" style="height: 16px">
											<span class="sender">{{ c.sender }}</span>
										</div>
										<img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" class="msgProfileImg">
										<div class="message">{{ c.text }}
											<div class="timestamp">{{ c.date }}</div>
										</div>
									</div>
								</li>
							</ul-->

						<ul id="conversationTabBar" class="nav nav-tabs bordered" >
							<li ng-repeat="user in conversations" ng-class="{active: $index == 0 }">
								<a href="#{{user.name}}" >{{user.name}} <span class="badge bg-color-blue txt-color-white">0</span></a>
							</li>
						</ul>
						<div id="conversationTab" class="tab-content padding-10">
							<div class="tab-pane fade in active" id="{{user.name}}" ng-repeat="user in liveConversations">
							<ul id="paneltab0" class="panel-body panel-body-chat" >
								<li ng-repeat="c in user.conversations" ng-class="{'from-visitor': c.sender == 'me' , 'from-op': c.sender != 'me'}">
									<div class="chatMsg clearfix ">
										<div class="" style="height: 16px">
											<span class="sender">{{ c.sender }}</span>
										</div>
										<img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" class="msgProfileImg">
										<div class="message">{{ c.text }}
											<div class="timestamp">{{ c.date }}</div>
										</div>
									</div>
								</li>
							</ul>
							</div>									
						</div>
						<div class="well padding-bottom-10 height-static" onsubmit="return false;">
							<div class="input-group wall-comment-reply">
								<input id="btn-input" type="text" class="form-control" placeholder="Type your message here..." ng-model="msgToSend" ng-keydown="sendMsg($event)">
								<span class="input-group-btn">
									<button class="btn btn-primary" id="btn-chat">
										<i class="fa fa-mail-forward"></i> Send
									</button> </span>
							</div>						
							<div class="margin-top-10">
								<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
								<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
								<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
								<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
							</div>
						</div>

					</div>				
				</div>

			</div>
		</div>

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<script type="text/javascript">
		  $(window).resize(function(e){
		  	calcTabSize()
		  })

		  function calcTabSize(){
		  	var height = $(window).height();

		  	var excludeHeights = [49 /*heaer*/, 38 /*TabHeader*/,20/*padding*/];

		  	var excludeHeight = 0; 
		  	excludeHeights.forEach(function(item){
		  		excludeHeight += item;
		  	});

		  	var tabHeight = height - excludeHeight;
		  	//$('.tab-content').height(tabHeight);
		  	$('#ChatAppContent').height(tabHeight);
		  	$('.height-target').each(function(idx,t){
		  		var heightFull = $(t).find('.height-full');
		  		var heightStatic = $(t).find('.height-static');

		  		var s = $(heightStatic).outerHeight();
		  		$(heightFull).height( tabHeight - s );
		  	});
		  };

		  var lobbies = {};
		  var conversations = {};

		  function receivedMessage(data){
		  	// channel 
		  	// user
		  	// text
		  };

		  function addLobby(channel,user,text){
		  	var isExist = lobbies[channel] == undefined ? false : true;

		  	if( !isExist ){
		  		lobbies[channel] = {
		  			user : user,
		  			conversation : []
		  		};
		  	};

		  	lobbies[channel].conversation.push(text);
		  };

		  function removeLobby(channel){
		  	var t = lobbies[channel];
		  	delete lobbies[channel];
		  	return t; 
		  };

		  function addConversation(channel, data){
		  	var isExist = conversations[channel] == undefined ? false : true;
		  	if( !isExist ){
		  		conversations[channel] = {
		  			user : user,
		  			conversation : []
		  		};
		  	};
		  	conversations[channel].conversation.push(text);
		  };

		  function removeConversation(channel){
		  	var t = conversations[channel];
		  	delete conversations[channel];
		  	return t; 
		  }

		  $("ul.nav-tabs a").click(function (e) {
			  e.preventDefault();  
			    $(this).tab('show');
			});

		</script>

